cffi==1.15.1
cloudpickle==2.2.0
contourpy==1.0.5
cycler==0.11.0
Cython==0.29.32
fasteners==0.15
fonttools==4.37.4
free-mujoco-py==2.1.6
glfw==1.12.0
gym==0.25.1
gym-notices==0.0.8
h5py==3.7.0
imageio==2.22.1
importlib-metadata==5.0.0
joblib==1.1.0
kiwisolver==1.4.4
llvmlite==0.36.0
matplotlib==3.6.0
monotonic==1.6
numba==0.53.1
numpy==1.22.3
opencv-python==3.4.16.59
packaging==21.3
Pillow==9.2.0
pybullet==3.2.0
pycparser==2.21
pyparsing==3.0.9
pyquaternion==0.9.9
python-dateutil==2.8.2
robosuite @ git+https://github.com/ARISE-Initiative/robosuite.git@361c136c47b93b12381dfdf0463729812d307628
scikit-learn==1.0.2
scipy==1.8.0
Shapely==1.8.1.post1
six==1.16.0
threadpoolctl==3.1.0
zipp==3.8.1
